@model Luna.Models.RoomImage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RoomImage</h4>
    <hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <td>
            <img src="@Model.Link" alt="Image" style="width:100px;height:auto;" />
        </td>
        <td>
                @Html.DisplayFor(model => model.Type.TypeId)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </td>
    </tbody>
</table>
