<form method="post" asp-action="SendMail">
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ffffff;margin:10px 0;max-width:700px">
    <tbody>
        <tr>
            <td width="35">&nbsp;</td>
            <td width="630" style="text-align:center">
                <a href="https://www.heritagehotelnyc.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.heritagehotelnyc.com&amp;source=gmail&amp;ust=1717655976367000&amp;usg=AOvVaw1F2xhqDa_4H5cZ9Qcsyhf3"><img src="https://ci3.googleusercontent.com/meips/ADKq_NbZ-GAr1UZhw6Q953rCoWtYp9IBHTl88El9AwAfsFe3JpTBFXL_LKTdYvmw2DjuhynGKh5aAJSyXy5ywdIFqVmOd2q3ZtP0k_P3cMNFEKspYPsd4iBu8VhXaUZUg-35jcNu3rQ=s0-d-e1-ft#https://my.innsight.com/css/standalone_css/heritagehotelnyc_images/logonew.jpg" alt="The Heritage Hotel New York City - 18 W 25th Street, New York City, NY 10010, USA" title="The Heritage Hotel New York City - 18 W 25th Street, New York City, NY 10010, USA" class="CToWUd" data-bit="iit"></a>

            </td>
            <td width="35">&nbsp;</td>
        </tr>

        <tr>
            <td width="35">&nbsp;</td>

            <td width="630" style="border:3px solid #dddddd">
                <table width="630" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td width="25">&nbsp;</td>

                            <td width="580">
                                <table width="580" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td><h1 style="font-family:Arial,sans-serif;font-weight:700;text-align:center;text-transform:uppercase;font-size:27px;letter-spacing:2px;border-bottom:1px solid #000000">Reservation Confirmation</h1></td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td><p style="font-family:Arial,sans-serif;font-size:15px;color:#555;margin:0">Dear <strong>Smith Smell,</strong> </p></td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td><p style="font-family:Arial,sans-serif;font-size:15px;color:#555;margin:0;line-height:25px">Thank you for your reservation made through INNsight.com at <strong>Hotel Del Luna</strong> checking in Fri, May 24, 2024 for 1 room and 5 nights.</p></td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <table width="580" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2" style="padding:10px;background-color:#eee"><h2 style="text-align:center;font-family:Arial,sans-serif;font-size:20px;letter-spacing:0.5px;color:#555;font-weight:500;margin:0">Confirmation Details</h2></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Reservation ID:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block"><strong>15244DDD-2458-761630</strong></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Booking Source:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Website</span></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Your Name:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Smith Smell</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Your Phone:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">+84 0123456789</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Your Email:</span></td>
                                                            <td width="430"><span style="font-family:Arial,sans-serif;font-size:15px;line-height:25px;display:inline-block"><i><a href="mailto:hatran3072003@gmail.com" style="color:#555" target="_blank">hatran3072003@gmail.com</a></i></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2" style="padding:10px;background-color:#eee"><h2 style="text-align:center;font-family:Arial,sans-serif;font-size:20px;letter-spacing:0.5px;color:#555;font-weight:500;margin:0">Property Information</h2></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Property Name:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block"><strong>Hotel Del Luna</strong></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td valign="top" width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Address:</span></td>
                                                            <td width="430" style="padding-bottom:8px">
                                                                <span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">
                                                                    Ngũ Hành Sơn, Đà Nẵng, Việt Nam
                                                                </span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Phone:</span></td>
                                                            <td width="430" style="padding-bottom:8px">
                                                                <span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">
                                                                    +1 (212) 645-3990
                                                                </span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Email:</span></td>
                                                            <td width="430"><span style="font-family:Arial,sans-serif;font-size:15px;line-height:25px;display:inline-block"><i><a href="mailto:hatran3072003@gmail.com" style="color:#555" target="_blank">hoteldelluna@gmail.com</a></i></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2" style="padding:10px;background-color:#eee"><h2 style="text-align:center;font-family:Arial,sans-serif;font-size:20px;letter-spacing:0.5px;color:#555;font-weight:500;margin:0">Booking Details</h2></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Arrival:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Fri, May 24, 2024</span></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Departure:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Wed, May 29, 2024</span></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">No. of Rooms:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">1 </span></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Total price:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">$1,995.22</span></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2" style="padding:10px;background-color:#eee"><h2 style="text-align:center;font-family:Arial,sans-serif;font-size:20px;letter-spacing:0.5px;color:#555;font-weight:500;margin:0">Room Details</h2></td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2"><h3 style="font-family:Arial,sans-serif;font-size:16px;color:#555;font-weight:500;margin:0 0 15px 0;border-bottom:1px solid #ddd;padding:0 0 5px;display:inline-block">Room 1</h3></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Guest Name:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block"><strong>Smith Smell</strong></span></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Room Type:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">2 Full Beds Smoking</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Rate Plan:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Best Standard Online Rate</span></td>
                                                        </tr>


                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Adults:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">1</span></td>
                                                        </tr>

                                                        <tr>
                                                            <td width="150" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">Children:</span></td>
                                                            <td width="430" style="padding-bottom:8px"><span style="font-family:Arial,sans-serif;font-size:15px;color:#555;line-height:25px;display:inline-block">1</span></td>
                                                        </tr>


                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>


                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">
                                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%!important;max-width:580px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:left;padding:8px 0">Sub Total</td>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:right;padding:8px 0">$1,723.50</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:left;padding:8px 0">Tax (14.75%)</td>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:right;padding:8px 0">$254.22</td>
                                                                        </tr>


                                                                        <tr>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:left;padding:8px 0">Total</td>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:right;padding:8px 0">$1,977.72</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:left;padding:8px 0">Occupancy Tax</td>
                                                                            <td style="border-top:1px solid #ddd;font-family:Arial,sans-serif;font-size:15px;color:#555;font-weight:400;text-align:right;padding:8px 0">$17.50</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="background-color:#eee;font-family:Arial,sans-serif;font-size:18px;color:#555;font-weight:bold;text-align:left;padding:10px">Total of Room 1</td>
                                                                            <td style="background-color:#eee;font-family:Arial,sans-serif;font-size:18px;color:#555;font-weight:bold;text-align:right;padding:10px">$1,995.22</td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>


                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">&nbsp;</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>

                            <td width="25">&nbsp;</td>

                        </tr>

                    </tbody>
                </table>

            </td>

            <td width="35">&nbsp;</td>

        </tr>

    </tbody>
</table>
