
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Luna.Models
@model List<ApplicationUser>

<div class="card">
    <div class="card-header">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="AddAccount" >
                    <h3 class="card-title">Add New</h3>
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <form asp-action="Search" method="get">
                    <div class="input-group">
                        <input type="search" name="query" class="form-control form-control-lg" placeholder="Type your keywords here">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-lg btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Staff Name</th>
                    <th>Username</th>
                    <th>Gmail</th>
                    <th>Phone Number</th>
                    <th>CSS grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <button type="button" class="btn btn-block bg-gradient-success btn-xs">
                                <i class="fas fa-edit"></i>Update
                            </button>
                            <button type="button" class="btn btn-block bg-gradient-danger btn-xs">
                                <i class="fas fa-save"></i>Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>

