@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<div class="container" style="padding-top: 50px">
    <h1>@ViewData["Title"]</h1>
    <p>
        Kiểm tra email của bạn để lấy lại mật khẩu.
    </p>
</div>

