@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký tài khoản";
}

<h1>@ViewData["Title"]</h1>
<p>
    Truy cập vào email bạn vừa đăng ký để xác nhận đăng ký tài khoản.
</p>

